.transactions-history {
  position: fixed;
  right: 5em;
  top: 100px;
  width: 750px;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 500px; /* Set a fixed height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}

.transactions-history h2 {
  position: sticky;
  top: 0;
  padding: 15px;
  z-index: 1;
  background-color: #ddd;
  border-bottom: 2px solid #b9b9b9;
  margin-top: 0;
  margin-bottom: 20px;
}

.transactions-history ul {
  list-style-type: none;
  padding: 0;
}

.transactions-history li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.transactions-history li span {
  flex: 1;
  text-align: left;
}
