.add-transaction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
}

.transaction-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 15px;
}

.form-group-date {
  margin-bottom: 20px;
}

.form-group-date label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group-date input {
  padding: 10px;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid black;
}
